<app-nav-bar>
    <div class="container">
        <mat-card>
            <mat-card-content>
                <h2>Les informations de votre garde</h2>
                <p>Date de début : {{ keep.keep_id }}</p>
                <!-- <p>Date de fin : {{keep.end_date_keep | frenchDate }}</p> -->
                <p></p>
                <!-- dans un cadre petite photo + nom plante + type plante -->
                <!-- les intructions -->

            </mat-card-content>
        </mat-card>
    </div>
</app-nav-bar>