@use '@angular/material' as mat;

.mat-card {
    border-left: 8px solid green;
    margin: 6rem auto auto auto;
    @include mat.elevation(8);
    width: 40rem;

    h2 {
        text-align: center;
    }

}