<div class="plantContainer">
    <mat-card class="example-card" *ngFor="let keep of keeps">
        <img mat-card-image src="../../../../assets/image/logo.png">
        <mat-card-content>
            <p class="localisation">{{ keep.location.city | titlecase}}<span>{{keep.start_date_keep | frenchDate}} -
                    {{keep.end_date_keep | frenchDate}}</span></p>
            <div>
                {{keep.instruction_keep}}
            </div>
            <div>{{keep.status_keep}}</div>
        </mat-card-content>
        <mat-card-actions *ngIf="!activatedRouteIsSearch">
            <button mat-raised-button color="primary" (click)="updateKeep(keep.keep_id)">Modifier</button>
            <button mat-raised-button class="delete">Supprimer</button>
        </mat-card-actions>
        <mat-card-actions *ngIf="activatedRouteIsSearch">
            <button mat-raised-button color="primary" (click)="applyToKeep(keep.keep_id)">Réserver</button>
        </mat-card-actions>
    </mat-card>
</div>