@use '@angular/material' as mat;

.plantContainer {
    margin: 3rem 0 0 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    .mat-card {
        cursor: pointer;
        margin: 0 5rem 5rem 0;
        @include mat.elevation(8);
        width: 18rem;

        .mat-card-image {
            background-size: cover;
        }

        .delete {
            border: 1px solid red;
            color: red
        }

        .localisation {
            font-weight: 800;
        }

        .date {
            font-weight: 300;
        }
    }
}