<app-nav-bar>
  <!-- Si L'utilisateur possède des message en base sinon -> afficher Aucune conversation disponible car aucune garde n'est en cour (click)="showMessages(contact)" [class.selected]="contact === selectedContact" -->
    <div class="messagerie-container">
        <div class="contacts">
          <h2>Mes contacts</h2>
          <ul>
            <li *ngFor="let contact of contacts"  (click)="showMessages(contact)" class="test" [class.selected]="contact === selectedContact">
              <div class="contact-info " matBadge="4" matBadgeOverlap="false" >
                <h3>{{ contact.name }}</h3>
              </div>
            </li>
          </ul>
        </div>
        <div class="messages">
          <div class="send">
            <h2 class="sendBtn">Garde du 18/07/2023 au 24/07/2023</h2>
            <button mat-raised-button class="btn-action sendBtn"
            color="primary">Voir la garde</button>
          </div>

          <ul>
            <li *ngFor="let message of messages">
              <div class="message-header">
                
                <span class="sender">{{ message.sender }}</span>
                <span class="timestamp">{{ message.timestamp | date:'shortTime' }}</span>
              </div>
              <div class="message-body">
                {{ message.content }}
              </div>
              <hr>
            </li>
          </ul>
          <div class="fix">
            <form class="example-form send " >
            <mat-form-field class="example-full-width sendBtn">
              <mat-label>Message</mat-label>
              <input matInput #message maxlength="256" placeholder="Ex. I need help with..." >
              <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
              <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            </mat-form-field>
            <button mat-raised-button class="btn-action test"
            color="primary">Envoyer</button>
          </form>
          </div>
          
        </div>
      </div>
</app-nav-bar> 