@use '@angular/material' as mat;

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;

    .bg {
        width: 50vw;
        height: 100vh;
    }

    .btn-choice {
        margin: auto;

        .btn-action {
            background-color: green;
            color: white;
            margin-right: 2rem;
        }
    }
}

.mat-card {
    @include mat.elevation(8);
    width: 30vw;
    align-self: center;
    margin: auto;

    img {
        width: 12rem;
        height: 8rem;
        margin: 0 auto 2rem auto;
        display: block;
    }
}

form {
    display: flex;
    flex-direction: column;

    .btn-action {
        margin: 20px 0 25px 0;
        width: 50%;
        color: white;
        background-color: green;
    }
}