<app-nav-bar>
    <div class="container">
        <mat-card>
            <mat-card-content>
                <form [formGroup]='plantForm'>

                    <!-- champs nom de la plante -->
                    <mat-form-field appearance="outline">
                        <mat-label>Nom de la plante</mat-label>
                        <input matInput type="text" formControlName="plantName" value="plant.name">
                    </mat-form-field>

                    <!-- champs type de la plante-->
                    <mat-form-field appearance="outline">
                        <mat-label>Le type de la plante</mat-label>
                        <input matInput type="text" formControlName="plantType">
                    </mat-form-field>

                    <!-- champs instruction -->
                    <mat-form-field appearance="fill">
                        <mat-label>Autosize textarea</mat-label>
                        <textarea formControlName="plantInstruction" matInput cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
                    </mat-form-field>
                </form>
                <div>
                    <button mat-raised-button class="btn-action" (click)="onSubmitForm()">Valider</button>
                    <button mat-raised-button class="btn-action" (click)="cancelAction()">Annuler</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</app-nav-bar>