<mat-card>
    <mat-card-title>Conditions Générales d'Utilisation (CGU)</mat-card-title>
    <mat-card-content>
        <p>Merci de lire attentivement les présentes Conditions Générales d'Utilisation (CGU) avant d'utiliser notre
            application. En accédant et en utilisant cette application, vous acceptez d'être lié par les présentes CGU.
            Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser l'application.</p>
        <br>
        <p><strong>Utilisation de l'application :</strong></p>
        <ol>
            <li>Notre application est destinée à être utilisée conformément à ses fonctionnalités prévues. Vous acceptez
                de n'utiliser l'application qu'à des fins légales et appropriées.</li>
            <li>Vous êtes seul responsable de toutes les activités réalisées via votre compte d'utilisateur, y compris
                la confidentialité de vos identifiants de connexion.</li>
            <li>Vous vous engagez à ne pas accéder illégalement ou tenter d'accéder à des parties sécurisées de
                l'application, à perturber le fonctionnement normal de l'application, à transmettre des virus ou tout
                autre code malveillant.</li>
        </ol>
        <br>
        <p><strong>Collecte et utilisation des données :</strong></p>
        <ol>
            <li>En utilisant notre application, vous consentez à la collecte et à l'utilisation de vos données
                personnelles conformément à notre Politique de Confidentialité.</li>
            <li>Nous nous engageons à protéger la confidentialité de vos données personnelles et à les utiliser
                uniquement dans le cadre de l'application et des services connexes. Nous ne partagerons pas vos données
                personnelles avec des tiers sans votre consentement explicite, sauf dans les cas prévus par la loi.</li>
        </ol>
        <br>
        <p><strong>Propriété intellectuelle :</strong></p>
        <ol>
            <li>Notre application et tout son contenu, y compris mais sans s'y limiter, les textes, les graphiques, les
                logos, les images, les vidéos, les marques commerciales, les droits d'auteur et autres droits de
                propriété intellectuelle, sont la propriété exclusive de notre société ou de nos concédants de licence.
            </li>
            <li>Vous acceptez de ne pas copier, reproduire, distribuer, publier, afficher, modifier ou exploiter de
                quelque manière que ce soit le contenu de l'application sans notre autorisation écrite préalable.</li>
        </ol>
        <br>
        <p><strong>Limitation de responsabilité :</strong></p>
        <ol>
            <li>Notre société ne peut garantir que l'application sera exempte d'erreurs, de bugs ou de
                dysfonctionnements. Vous utilisez l'application à vos propres risques.</li>
            <li>En aucun cas, notre société, ses dirigeants, employés ou représentants ne pourront être tenus
                responsables des dommages directs, indirects, consécutifs ou spéciaux résultant de l'utilisation de
                l'application.</li>
        </ol>
        <br>
        <p><strong>Modification des CGU :</strong></p>
        <p>Nous nous réservons le droit de modifier ou de mettre à jour les présentes CGU à tout moment. Les
            modifications entreront en vigueur dès leur publication dans l'application. Il vous est conseillé de
            consulter régulièrement les CGU pour être informé des éventuelles modifications.</p>
        <br>
        <p><strong>Loi applicable et juridiction compétente :</strong></p>
        <p>Les présentes CGU sont régies par les lois en vigueur du pays dans lequel notre société est enregistrée. Tout
            litige découlant de l'utilisation de l'application sera soumis à la juridiction compétente de ce pays.</p>
        <br>
        <p>Si vous avez des questions ou des préoccupations concernant les présentes CGU, veuillez nous contacter à
            l'adresse fournie dans l'application.</p>
        <br>
        <p>En acceptant les présentes CGU, vous reconnaissez avoir lu, compris et accepté les conditions d'utilisation
            de notre application.</p>
        <br>
        <p>Ces CGU constituent un accord juridiquement contraignant entre vous et notre société.</p>
        <br>
        <p>Date d'entrée en vigueur : 01/06/2023</p>
        <br>
        <p>Veuillez noter que les CGU fournies ici sont un exemple et doivent être adaptées à votre application
            spécifique. Il est recommandé de consulter un professionnel du droit pour s'assurer que les CGU répondent
            aux exigences légales applicables à votre entreprise et à votre juridiction.</p>
    </mat-card-content>
</mat-card>