@use '@angular/material' as mat;

mat-toolbar {
    @include mat.elevation(8);
    width: 100vw;
    justify-content: space-around;

    .activeLink {
        color: black;
    }

    .logo-container {
        display: flex;
        align-items: center;

        img {
            margin-right: 8px;
            background-color: white;
            border-radius: 50%;
            height: 50px !important;
            width: 50px;
        }
    }

    li:hover {
        color: lightgray;
    }

    .navigation-items {
        width: 60rem;
        cursor: pointer;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            mat-icon {
                margin-right: 8px;
            }

            display: flex;
            align-items: center;
        }
    }

}

// .sidenav-container {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;

//     .sidenav-items {
//         height: 12rem;
//         margin: 5rem 0 0 2rem;
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         list-style-type: none;

//         li {
//             cursor: pointer;
//             display: flex;
//             align-items: flex-end;

//             mat-icon {
//                 margin-right: 8px;
//             }
//         }

//     }

// }