<mat-toolbar>
    <mat-toolbar-row class="logo-container">
        <img src="../../../assets/image/logo.png" alt="logo arosaje" class="logo">
        <span>Arosaje</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="primary">
    <mat-toolbar-row *ngFor="let item of navigations" class="navButtons" routerLinkActive="activeLink"
        routerLink="{{item.link}}">
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.name}}</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar class="profil-container">
    <mat-toolbar-row class="profil">
        <figure class="circle"></figure>
        <span>Célia ROJAS</span>
    </mat-toolbar-row>
</mat-toolbar>