.sidenav-container {
    height: 100%;

    .sidenav {
        padding-top: 60px;
        width: 200px;

        ::ng-deep .mat-drawer-inner-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .mat-nav-list {
            margin: 10rem 0 0 0;

            .List-item-active {
                background: rgba(0, 0, 0, .04);
            }
        }
    }

    .sidenav .mat-toolbar {
        background: inherit;
    }

    .main_content {
        margin: 15px 15px 15px 15px;
    }
}

.mat-toolbar {
    .logo-container {
        .logo {
            margin-right: 8px;
            height: 50px !important;
            width: 50px;
        }
    }
}


.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 5;
}

.fill-remaining-space {
    flex: 1 1 auto;
}