form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50rem;
  height: 4rem;
  border: solid 1px lightgray;
  border-radius: 30px;

  .dateField {
    cursor: pointer;
  }

  .btn-action {
    margin: 10px !important;
  }
}

::ng-deep {
  .mat-form-field-appearance-standard .mat-form-field-underline {
    width: 0 !important;
  }

  .border {
    .mat-form-field-infix {
      display: flex;
      flex-direction: row;
      border-right: 1px solid lightgray !important;
    }

    mat-icon {
      cursor: pointer;
      color: gray;
      margin-right: 1rem;
    }
  }
}

.mat-form-field {
  width: 50rem;

  input {
    margin-left: 20px;
  }

  .mat-autocomplete-panel {
    width: 50rem;
  }
}