<form
  [formGroup]="searchForm"
  (ngSubmit)="submitForm()"
  class="mat-elevation-z6"
>
  <mat-form-field appearance="standard" class="border">
    <input
      matInput
      [matAutocomplete]="auto"
      placeholder="Localisation"
      formControlName="localisation"
      (keyup)="searchCity($event)"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions"
        [value]="option.display_name"
      >
        {{ option.display_name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field
    (click)="startDate.open()"
    appearance="standard"
    class="border"
  >
    <input
      class="dateField"
      matInput
      [matDatepicker]="startDate"
      placeholder="Début"
      formControlName="startDate"
      [disabled]="true"
    />
    <mat-icon (click)="resetDate('startDate')">clear</mat-icon>
    <mat-datepicker #startDate disabled="false"> </mat-datepicker>
  </mat-form-field>

  <mat-form-field
    (click)="endDate.open()"
    appearance="standard"
    class="border dateField"
  >
    <input
      matInput
      [matDatepicker]="endDate"
      [disabled]="true"
      placeholder="Fin"
      formControlName="endDate"
      class="dateField"
    />
    <mat-icon (click)="resetDate('endDate')">clear</mat-icon>
    <mat-datepicker #endDate disabled="false"></mat-datepicker>
  </mat-form-field>

  <button mat-mini-fab class="btn-action" color="primary">
    <mat-icon matSuffix>search</mat-icon>
  </button>
</form>
