@use '@angular/material' as mat;

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;

    .bg {
        width: 50vw;
        height: 100vh;
    }
}

.mat-card {
    @include mat.elevation(8);
    align-self: center;
    margin-right: 10rem;

    img {
        width: 12rem;
        height: 8rem;
        margin: 0 auto 2rem auto;
        display: block;
    }
}

form {
    // height: 45vh;

    .btn-action {
        margin-top: 2rem;
        width: 50%;
        color: white;
        background-color: green;
    }

    .formRow {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;

        mat-form-field {
            flex: 1;
            margin-right: 10px;
        }
    }
}