<div class="container">
  <img class="bg" src="../../assets/image/background_test.png" alt="">
  <mat-card>
    <img class="logo" src="../../assets/image/logo.png" alt="">
    <mat-card-content>
      <form [formGroup]='registerForm' (ngSubmit)="onSubmitForm()">

        <div class="formRow">
          <!-- champs prénom -->
          <mat-form-field appearance="outline">
            <mat-label>Votre prénom</mat-label>
            <input matInput type="text" formControlName="firstname">
            <mat-error *ngIf="errorMessage.firstName">{{errorMessage.firstname}}</mat-error>
          </mat-form-field>

          <!-- champs nom -->
          <mat-form-field appearance="outline">
            <mat-label>Votre nom</mat-label>
            <input matInput type="text" formControlName="lastname">
            <mat-error *ngIf="errorMessage.lastName">{{errorMessage.lastname}}</mat-error>
          </mat-form-field>
        </div>

        <div class="formRow">
          <!-- champs date de naissance -->
          <mat-form-field appearance="outline">
            <mat-label>Votre date de naissance</mat-label>
            <input matInput [matDatepicker]="birthdate" formControlName="birthdate">
            <mat-datepicker-toggle matSuffix [for]="birthdate">
            </mat-datepicker-toggle>
            <mat-datepicker #birthdate></mat-datepicker>
            <mat-error *ngIf="errorMessage.birthdate">{{errorMessage.birthdate}}</mat-error>
          </mat-form-field>

          <!-- champs numéro tel -->
          <mat-form-field appearance="outline">
            <mat-label>Votre numéro de téléphone</mat-label>
            <input matInput type="text" formControlName="phoneNumber">
            <mat-error *ngIf="errorMessage.phoneNumber">{{errorMessage.phoneNumber}}</mat-error>
          </mat-form-field>
        </div>

        <div class="formRow">
          <!-- champ email -->
          <mat-form-field appearance="outline">
            <mat-label>Votre email</mat-label>
            <input matInput type="email" formControlName="email" placeholder="test@test.com">
            <mat-error *ngIf="errorMessage.email">{{errorMessage.email}}</mat-error>
          </mat-form-field>

          <!-- champs email confirm -->
          <mat-form-field appearance="outline">
            <mat-label>Confirmer l'email</mat-label>
            <input matInput type="email" formControlName="confirmEmail">
            <mat-error *ngIf="errorMessage.confirmEmail">{{errorMessage.confirmEmail}}</mat-error>
          </mat-form-field>
        </div>

        <div class="formRow">
          <!-- champs mdp -->
          <mat-form-field appearance="outline">
            <mat-label>Votre mot de passe</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="errorMessage.password">{{errorMessage.password}}</mat-error>
          </mat-form-field>

          <!-- champs mdp confirm -->
          <mat-form-field appearance="outline">
            <mat-label>Confirmer le mot de passe</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="errorMessage.confirmPassword">{{errorMessage.confirmPassword}}</mat-error>
          </mat-form-field>
        </div>

        <button mat-raised-button class="btn-action">S'inscrire</button>

      </form>
    </mat-card-content>
  </mat-card>
</div>